.layout {
    display: flex;
    flex-direction: column;
    height: 99vh;
    margin-inline: 10rem;
    border: 2px dotted yellowgreen;
    background-color: #f4f4f4;

    .main-content {
      display: flex;
      flex: 1;
    }
  
    .content-container {
      flex: 1;
      background-color: white;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Shadow effect */
      border-radius: 8px; /* Optional: Adds rounded corners */
      overflow: hidden; /* Ensures no content spills out */
      display: flex;
      flex-direction: column;
    }
  
    .content {
      padding: 1rem; /* Inner spacing for content */
      flex: 1;
    }
}  