// @import '../../../styles-vairables.scss'; 
$border-style-dotted: 2px dotted #495057;
$background-color:  rgb(165 243 8);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(165 243 8);
    color: #FF0080;
    border-bottom: $border-style-dotted;
  
    .logout-btn {
      background: none;
      border: 1px solid white;
      color: white;
      padding: 0.5rem 1rem;
      cursor: pointer;
  
      &:hover {
        background-color: white;
        color: rgb(194, 255, 72);;
      }
    }
  }
  