<ng-container *ngIf="todos$() as todos;">

  <ul *ngIf="todos.length; else empty">
    <li *ngFor="let todo of todos$(); let i = index;">
    {{todo.id}}  {{ todo.description }} - {{ todo.completed ? 'Done' : 'Pending' }}
      <button [disabled]="todo.completed" (click)="complete(todo)">
      complete
    </button>
    </li>

  </ul>

  <ng-template #empty>
    <div>No Data</div>
  </ng-template>


<button (click)="loadTodos()">Refresh</button>
<button (click)="addTodo(todos.length + 1)">Add</button>

<div *ngIf="isLoading$()">Loading...</div>

</ng-container>