
<!-- <a routerLink="test1">Test</a> -->
<!-- <div class="container-wrapper">
    <div class="form-box">
        <label>Enter the content :</label>
         <input type="text" placeholder="placeholder" #trv [(ngModel)]="textName" name="firstName">
    </div>
    <div class="form-content">
        Trv-  {{trv.value}} 
        {{textName}}
    </div>
     <button (click)="ClickToTest()">CLick</button> --
</div> -->
<!-- here we have checked for the content projection -->
<!-- <div class="container-wrapper-content">
    <app-test2 [testTwo]="textNameTwo">
        <h3 >Test 2 component for content projections</h3> 
        <p #trvTest2>This is parent- container data 1 - {{textNameTwo}}</p>
        <p #trvTest2>This is parent- container data 2- {{textNameTwo}}</p>
        <p #trvTest2>This is parent- container data 3- {{textNameTwo}}</p> -->
        <!-- <app-test1 class="one"></app-test1>
        <app-test1 class="two"></app-test1> -->

    <!-- </app-test2>
</div> -->
<!-- Here we will check for the ng-template and ng-container -->

<!-- @if (true) {
    <ng-container *ngTemplateOutlet= "temp2"> </ng-container>  
       <!-- this ideally holds the reference to place the  -->
<!-- } @else{ -->
    <!-- <ng-container *ngTemplateOutlet= "temp1"> </ng-container>    -->
<!-- } -->
<!-- 
<ng-template #temp1>
    <div> The template one to be injected dynamically</div>
</ng-template>

<ng-template #temp2>
    <div> Template two to be injected dynamically.</div>
</ng-template> -->

<!-- <router-outlet></router-outlet> -->

<!-- store testing -->

<!-- <app-todo></app-todo> -->
 <!-- <app-cart></app-cart> -->
 <!-- <app-auth></app-auth> -->
 <app-forms></app-forms>
 <app-reactive-forms></app-reactive-forms>

